.red{
	width: 100px;
	height: 100px;
	border:45px solid red;
	background: #9A2EFE;
	position:absolute;
}
.yellow{
	width: 40px;
	height: 40px;
	border:100px transparent;
	background: yellow;
	position:absolute;
	left:52px;
	top:53px;
}
.blue{
	width: 100px;
	height: 100px;
	border:45px solid blue;
	background: #38610B;
	position:absolute;
	top:300px;

}
.black{
	width: 45px;
	height: 45px;
	border:100px transparent;
	background: black;
	position:absolute;
	left:8px;
	top:300px;
}